In [1]:
import sqlite3

In [2]:
connection =  sqlite3.connect("test.db")

In [3]:
import sqlite3
with sqlite3.connect("roster.db") as connection:
    cursor = connection.cursor()
    cursor.execute(
        "DROP TABLE IF EXISTS ROSTER;"
        )
    cursor.execute(
        """CREATE TABLE ROSTER(
        name text,
        species text,
        age int
        )"""
)
    data= (
('Benjamin Sisko','Human',40),
('Jadzia Dax','Trill',300),
('Kira Nerys','Bajoran',29)
)
    cursor.executemany(
        """Insert into ROSTER(name,species,age) Values(?,?,?);""", data
)
    cursor.execute(
        "Update ROSTER SET name='Ezri Dax' where name='Jadzia Dax'; "
    )
    cursor.execute(
        "Select name, age FROM ROSTER where species='Bajoran'; "
    )
    cursor.execute(
        "DELETE FROM ROSTER WHERE AGE>100;"
    )
    cursor.execute(
        "Alter table ROSTER ADD COLUMN RANK TEXT;"
)
    ranks = (
        ('Benjamin Sisko',	'Captain'),
        ('Ezri Dax',	'Lieutenant'),
        ('Kira Nerys','Major')
)
    cursor.executemany(
        "Insert into ROSTER(name,rank) VALUES(?,?);", ranks 
    )
    cursor.execute(
        "SELECT *FROM ROSTER ORDER BY age DESC;"
    )
rows= cursor.fetchall()
for row in rows:
    print(row)

('Benjamin Sisko', 'Human', 40, None)
('Kira Nerys', 'Bajoran', 29, None)
('Benjamin Sisko', None, None, 'Captain')
('Ezri Dax', None, None, 'Lieutenant')
('Kira Nerys', None, None, 'Major')

In [3]:
type(connection)

sqlite3.Connection

In [4]:
con = sqlite3.connect(":memory:")

In [11]:
con = sqlite3.connect(":memory:")

query = "Select datetime('now', 'localtime') "

cursor =  con.cursor()
time = cursor.execute(query)

time.fetchone()

# con.close()

('2025-03-09 12:51:24',)

## using "with" keyword

In [33]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    query = "Select datetime('now', 'localtime')"
    data = cursor.execute(query)

data.fetchone()

('2025-03-09 13:14:00',)

In [91]:
with sqlite3.connect("StudentSs.db") as connection:
    cursor =  connection.cursor()
    query = "Create table Students(fname text,lname text, age int);"
    data = cursor.execute(query)

In [92]:
with sqlite3.connect("Students.db") as connection:
    cursor =  connection.cursor()
    query = "Insert info Students Values('Ali','Valiyev', 21);"

In [93]:
create = """
Create table Students(fname text, lname text, age int);
"""
insert = """
Insert Info Students Values(('Ali','Valiyev', 21), ('Ali','Valiyev', 21), ('Ali','Valiyev', 21), ('Ali','Valiyev', 21))
"""
delete = """
Drop table students
"""

In [96]:
with sqlite3.connect("shtudents.db") as con:
    cursor = con.cursor()
    cursor.execute(insert)
    cursor.execute(insert)
    cursor.execute(delete)

OperationalError: near "Info": syntax error

In [88]:
sql = """ 
Drop table if exists Students;

Create table Students(fname text, lname text, age int);
('Ali','Valiyev', 21),
('Alimardon','  Xojayev', 31)
('Alisher','Validher', 41)
('Husan','  Ahayev', 51)
('Aliquli','Husanev', 61)
"""

In [97]:
with sqlite3.connect("studentssTest.db") as con:
    cursor = con.cursor()
    cursor.executescript(sql)

OperationalError: near "(": syntax error

In [76]:
student_values = (
('Ali','Valiyev', 21),
('Alimardon','  Xojayev', 31),
('Alisher','Validher', 41),
('Husan','  Ahayev', 51),
('Aliquli','Husanev', 61),
)

In [77]:
with sqlite3.connect("student.db") as con:
    cursor = con.cursor()
    data = cursor.executemany("insert info Students Values (?,?,?)", student_values)

OperationalError: near "info": syntax error