In [1]:
number = 5
str(number)

'5'

In [13]:
name = 'Muhammadyusuf'
name.capitalize()
# print(name)
# name.upper()
# print(name)
# name.lower()
# print(name)

'Muhammadyusuf'

In [14]:
name.upper()

'MUHAMMADYUSUF'

In [15]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [16]:
name.strip()

'Muhammadyusuf'

In [17]:
name.split()

['Muhammadyusuf']

In [18]:
end = 'This is a string of words'
end.split()

['This', 'is', 'a', 'string', 'of', 'words']

In [23]:
name = 'Muhammadyusuf'
print('my name is %s' % name)

my name is Muhammadyusuf

In [21]:
age = 18
print("you must be at least %i to continue" % age)

you must be at least 18 to continue

In [26]:
age= 18
name = 'Muhammadyusuf'
print("Hello {}. You must be at least {} to continue".format(name, age))

Hello Muhammadyusuf. You must be at least 18 to continue

In [29]:
name = 'Muhammadyusuf'
age = 20
f'Hello {name}. You are {age} years old'

'Hello Muhammadyusuf. You are 20 years old'

In [30]:
f'Hello {name.upper()}. You are {age+2} years old'

'Hello MUHAMMADYUSUF. You are 22 years old'

In [38]:
sample_dict = {'name': 'mUHAMMADYUSUF', 'age': 20}
f'hello {sample_dict["name"].upper()}  You are {sample_dict["age"]}'

'hello MUHAMMADYUSUF  You are 20'

In [ ]:
name_first = 'I am '
last_name =' MUhammadyusuf'
name_first + last_name #concatenation

'I am  MUhammadyusuf'

In [42]:
'-'.join([name_first, last_name])

'I am - MUhammadyusuf'

In [ ]:
'you are stranger'[-5:] #string slicing

'anger'

In [50]:
a= float(78)
type(a)

float

In [53]:
b = complex(4)+2j
type(b)

complex

In [54]:
int('10', 3)

3

In [65]:
int('03',4)

3

In [68]:
int('23', 21)

45

In [ ]:
comp = 1+2j
type(comp)
comp.real # real images
comp.imag # imaginary part

2.0

In [73]:
complex(10,12)

(10+12j)

In [74]:
pow(2, 4)

16

In [75]:
divmod(16,2)

(8, 0)

In [76]:
2**4

16

In [78]:
x=1
x +=3
x

4

In [79]:
4 %3

1

In [80]:
my_list = [1,2,3,4]
my_list

[1, 2, 3, 4]

In [82]:
lists = list((1,2,3,4,5,6,7,8))
lists

[1, 2, 3, 4, 5, 6, 7, 8]

In [83]:
listss = list('abcd')
listss

['a', 'b', 'c', 'd']

In [84]:
a=1
b=2
c=3
d=4
a.append(a,b,c,d)

AttributeError: 'int' object has no attribute 'append'

In [102]:
my_list = list('abcdddd')
my_list.count('d')
a=my_list.reverse()
print(a)

None

In [97]:
my_list.index('b')

1

In [100]:
x =my_list.reverse()
print(x)

None

In [106]:
my_list = list('abcc')
my_list
my_list.append("Hello")
my_list

['a', 'b', 'c', 'c', 'Hello']

In [114]:
len(my_list)
my_list

['first', 'first', 'a', 'you', 'you', 'b', 'c', 'c', 'Hello']

In [119]:
my_list.insert(0,'first')
my_list

['first',
 'first',
 'first',
 'first',
 'first',
 'first',
 'first',
 'a',
 'you',
 'you',
 'b',
 'c',
 'c',
 'Hello']

In [113]:
my_list.insert(3, "you")
my_list

['first', 'first', 'a', 'you', 'you', 'b', 'c', 'c', 'Hello']

In [122]:
my_list =[1,2,3]
other = [4,5,6]
my_list.extend(other)
my_list

[1, 2, 3, 4, 5, 6]

In [124]:
combine= my_list+other
combine

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [128]:
combine[7]

5

In [138]:
combine[-1]
my_list=[1,2,3,4]

In [ ]:
my_list.pop() #deletes one by one
my_list

[1, 2, 3]

In [ ]:
my_list.remove(2) #qayta ochira olmas ekan, ochib ketgan bolar ekan
my_list

[3]

In [151]:
mylist=[1,2,4, 3,4,5]
mylist.pop(1) #istalgan bitta characterni ochirse bolarkan, pop() qavs bn ishlatilarkan, list esa[tortburchak bn]
mylist

[1, 4, 3, 4, 5]

In [153]:
mylist.remove(4) #first instance ni ochirarkan
mylist

[1, 3, 5]

In [154]:
del mylist[0]
mylist

[3, 5]

In [156]:
my_list =[1,2,3,4,5,11,212,12,4324,221,12,45]
my_list.sort()
my_list

[1, 2, 3, 4, 5, 11, 12, 12, 45, 212, 221, 4324]

In [158]:
my_list.sort(reverse=True)
my_list

[4324, 221, 212, 45, 12, 12, 11, 5, 4, 3, 2, 1]

In [163]:
my_list[0:-3] #this is slicing

[4324, 221, 212, 45, 12, 12, 11, 5, 4]

In [162]:
new_copy =my_list.copy()
new_copy

[4324, 221, 212, 45, 12, 12, 11, 5, 4, 3, 2, 1]

In [164]:
True==1

True

In [165]:
False==0

True

In [166]:
True== False

False

In [167]:
bool('0')

True

In [168]:
bool(1)

True

In [169]:
bool({})

False

In [170]:
None==1

False

In [173]:
print(None=='')
print(None==0)
print(None==None)

False
False
True

In [174]:
x=None

In [175]:
y=None

In [177]:
print(id(x))
print(id(y))

140729440712696
140729440712696

In [194]:
authinticated = True
if authinticated:
    print("You are logged in")

You are logged in

In [196]:
authinticated = False
if authinticated:
    print("You are logged in")
else: 
    print("Please login")

Please login

In [206]:
age= 76
if age>18 and age<=55:
    print("You can vote in the elections")
elif age<18:
    print("You cannot participate in elections")
elif age> 18 and age>=55:
    print("You can vote in your home")
else:
    print("Please enter your age")

You can vote in your home

In [205]:
age = 18

if age >= 18 and age < 55:
    print("You can vote in the elections")
elif age >= 55:
    print("You can vote from home")
else:
    print("You cannot participate in elections")

You can vote in the elections

In [215]:
age=19
car = 'Byd'
if age>=18:
    if car in ['Toyota', 'Hyundai']:
        print("You buy Japanese cars")
    elif car in ['Ford', 'Tesla']:
        print("You buy American cars")
    elif car not in ['cars']:
        print("We couldnot find this car")
else:
    print("You are too young to buy cars")

We couldnot find this car

In [220]:
age=44
car='Toyota'
if age>=18 and car in ['Toyota', 'Hyundai']:
     print("You buy Japanese cars")
elif age>=18 and car in ['Ford', 'Tesla']:
        print("You buy American cars")
else:
       print("You are too young to buy cars")

You buy Japanese cars

In [223]:
age=17
car='Ford'
if age>=18 or car in ['Toyota', 'Hyundai']:
     print("You buy Japanese cars")
elif age>=18 or car in ['Ford', 'Tesla']:
        print("You buy American cars")
else:
       print("You are too young to buy cars")

You buy American cars

In [244]:
x="Hello World"  #space bolgani uchun ikki xil id
y="Hello World"
x==y
print(id(x))
print(id(y))
x is y

2068027640432
2070173380848

False

In [235]:
x='hi'
y='hi'
x==y
print(id(x))
print(id(y))
x is y

2070081303280
2070081303280

True

In [227]:
my_list= [1,2,3,4,5] #list is mutable, str is not
6 not in my_list

True

In [233]:
x = [4, 5, 6]
y = [4, 5, 6]
print(id(x))
print(id(y))

2070173506176
2068027651136

In [230]:
x = [4, 5, 6]
x=y

In [231]:
print(id(x))
print(id(y))

2068028663552
2068028663552