## My homeworks

In [1]:
a=[1,2,3,4,2,3,5,6,2,3,4]
type(a)
a.count(3)

3

In [2]:
a=3
b=4
c=5
d=3
print(a+b+c+d)

15

In [3]:
a=4
b=5
c=2
d=6
print(max(a,b,c,d))

6

In [4]:
print(min(a,b,c,d))

2

In [5]:
animals=("horse", "sheep", "tiger")
print("horse" in animals)
print("lion" in animals)

True
False

In [26]:
test_list=[1,2,3,4]
a=[]

print(test_list[0])
print(a[2])

1

IndexError: list index out of range

In [37]:
numbers=[1,2,3,4,5,6,7,8,9]
numbers.reverse()
numbers

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [32]:
animals=['cow', 'bull', 'cat', 'tiger']
animals[0:3]

['cow', 'bull', 'cat']

In [39]:
tartib=[4,3,1,9,5]
tartib.sort()
tartib

[1, 3, 4, 5, 9]

In [48]:
a=[1,2,2,2,3,4,3,4,5,6,5,7,'hello']
print(list(set(a)))

[1, 2, 3, 4, 5, 6, 7, 'hello']

In [54]:
a=['my','name','Muhammadyusuf']
a.insert(2,'is')
print(a)

['my', 'name', 'is', 'Muhammadyusuf']

In [58]:
a=[1,2,3,4,1,2,3]
a.index(1)

0

In [68]:
b=['you', 'are','amazing']
c=[   ]
bool(c)

False

In [94]:
a=[1,2,3,4,5,6,7,8,9,10,11]

even_count=len([x for x in a if x%2==0])
print(even_count)

5

In [97]:
a=[1,2,3,4,5,6,7,8,9,10,11]
odd_count=len([x for x in a if x%2!=0])
print(odd_count)

6

In [98]:
a=['hello','i am good']
b=['how', 'about you?']
concanated=(a+b)
print(concanated)

['hello', 'i am good', 'how', 'about you?']

In [106]:
a=['Here','is', 'info']
a[0]='There'
print(a)

['There', 'is', 'info']

In [108]:
a=[23,33,44,21]
max1=max2=float('-inf')
for n in a:
    if n>max1:
        max2=max1
        max1=n
    elif n>max2 and n !=max1:
        max2=n
        print(max2(a))

In [111]:
a=[1,2,3,4,5,6]
def even(n):
    return n%2==0
b=filter(even,a)
print(list(b))

[2, 4, 6]

In [113]:
a=[1,2,3,4,5,6]
def odd(n):
    return n%2!=0
b=filter(odd,a)
print(list(b))

[1, 3, 5]

In [114]:
p=[1,2,3,4,'hello','hi']
len(p)

6

In [115]:
a=[1,2,3,4,5,6]
a.copy()

[1, 2, 3, 4, 5, 6]

In [121]:
a=[1,2,3,4,3,5,6]
len(a)
middle_index=len(a) //2
print(middle_index)

3

In [126]:
a=['hi','bugunmas','Hellohello']
max(a, key=lambda x:len(x))

'Hellohello'

In [131]:
q=[1,2,3,4,45]
del q[4]
q

[1, 2, 3, 4]

In [134]:
w=[23,43,22,21,11,1]
w.sort()
w

[1, 11, 21, 22, 23, 43]

In [136]:
a=['Uzbekistan']
a*5

['Uzbekistan', 'Uzbekistan', 'Uzbekistan', 'Uzbekistan', 'Uzbekistan']

In [139]:
import heapq
a=[23,24,25]
b=[30,31,32]
c=list(heapq.merge(a,b))
print(c)

[23, 24, 25, 30, 31, 32]

In [178]:
r=1
r2=9
c=[i for i in range(r,r2)]
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

## Tuple

In [184]:
a=('hi', 'hi','hi','here', 'there')
a.count('hi')

3

In [186]:
a=(9,9,8,7,6,5,4,33,32)
max(a)

33

In [187]:
min(a)

4

In [188]:
type(a)

tuple

In [191]:
print(a[0])

9

In [192]:
print(a[-1])

32

In [193]:
print(len(a))

9

In [196]:
print(a[0:3])

(9, 9, 8)

In [205]:
a=(1,2,3)
b=(23,22,21,20)
c=(a+b)
print(c)

(1, 2, 3, 23, 22, 21, 20)

In [215]:
a=()

len(a)!=0

False

In [217]:
a=(99,98,87,67,54)
a.index

In [220]:
men=('Muhammadyusuf',)
print(type(men))

<class 'tuple'>

In [221]:
a=[1,2,3,4,5]
you=tuple(a)
print(you)

(1, 2, 3, 4, 5)

In [224]:
t=(4,3,6,7,5)
a=(1,2,3,4,5,6)

print(a==tuple(sorted(a)))

True

In [226]:
max(a)
min(a)

1

In [227]:
max(a)

6

In [229]:
a=(1,2,3,4,5,6)
a.remove[0]

AttributeError: 'tuple' object has no attribute 'remove'

In [232]:
a*5

(1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6)

In [235]:
x=range(12)
for n in x:
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11

In [238]:
a=(9,8,7,6)
a=tuple(reversed(a))
a

(6, 7, 8, 9)

In [241]:
a=[1,2,3,2,1]
it=a==list(reversed(a))
print(it)

TypeError: 'list' object is not callable