In [1]:
import numpy as np

In [2]:
import numpy as np
arr =  np.array([1,2,3,4,5])
print(arr)

[1 2 3 4 5]

In [4]:
arr_2d = np.array([[1,2,3], [4,5,6]])
print(arr_2d)

[[1 2 3]
 [4 5 6]]

In [7]:
arr = np.array(([[1,2,3,4], 
                 [4,5,6,7]]))
print("Shape:", arr.shape) #rows, cloumns
print("Size:", arr.size)
print("Data type:", arr.dtype)

Shape: (2, 4)
Size: 8
Data type: int64

In [9]:
zeros_arr = np.zeros((3,4)) #3*4
print(zeros_arr)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [10]:
ones_arr = np.ones((2,2))
print(ones_arr)

[[1. 1.]
 [1. 1.]]

In [11]:
identity_matrix = np.eye(3)
print(identity_matrix)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [13]:
range_arr = np.arange(10)
print(range_arr)

[0 1 2 3 4 5 6 7 8 9]

In [20]:
range_arr = np.arange(0,10,2)
print(range_arr)

[0 2 4 6 8]

In [21]:
a = np.array([1,2,3])
b = np.array([4,5,6])
print("Addition:", a+b)
print("Subtraction:", a-b)
print("Multiplication:", a*b)
print("Division:", a/b)

Addition: [5 7 9]
Subtraction: [-3 -3 -3]
Multiplication: [ 4 10 18]
Division: [0.25 0.4  0.5 ]

In [23]:
dot_product = np.dot(a,b)
print("Dot product:", dot_product)

Dot product: 32

In [30]:
arr = np.arange(1,10)
print(arr)
reshaped_arr = arr.reshape(3,3)
print(reshaped_arr)

[1 2 3 4 5 6 7 8 9]
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [31]:
arr = np.array([1,2,3,4,5,6])
print("First element:", arr[0])
print("Slice from index 1 to 3:", arr[1:4])

First element: 1
Slice from index 1 to 3: [2 3 4]

In [33]:
arr_2d = np.array([[1,2,3], [4,5,6]])
print("Element at row 1, column 2:", arr_2d)
print("First row:", arr_2d[0, :])
print("Second column:", arr_2d[:, 1])

Element at row 1, column 2: [[1 2 3]
 [4 5 6]]
First row: [1 2 3]
Second column: [2 5]

In [35]:
arr = np.array([1,2,3,4,100,5])
print("Sum:", np.sum(arr))
print("Mean:", np.mean(arr))
print("Min:", np.min(arr))
print("Max:", np.max(arr))

Sum: 115
Mean: 19.166666666666668
Min: 1
Max: 100

In [36]:
random_arr = np.random.random((3,3))
print(random_arr)

[[0.78218982 0.99852121 0.80142536]
 [0.86265506 0.31886018 0.39756823]
 [0.77176512 0.68416996 0.06452099]]

In [44]:
random_int = np.random.randint(1,10, size =(2,3))
print(random_int)

[[8 2 7]
 [2 4 4]]

In [60]:
random_numbers = np.random.randint(1,100, size= (4,4))
print(random_numbers)
print("Random mean in each row:", np.mean(random_numbers[0,:]))
print("Random mean in each column:", np.mean(random_numbers[1,:]))
print("reshape random:", random_numbers.reshape(2,8))
print("Sum of each column:", np.sum(random_numbers[1,:]))

[[78 14 31 84]
 [29 89 68 20]
 [ 4 29 61 98]
 [78  7 84 11]]
Random mean in each row: 51.75
Random mean in each column: 51.5
reshape random: [[78 14 31 84 29 89 68 20]
 [ 4 29 61 98 78  7 84 11]]
Sum of each column: 206

In [45]:
arr = np.array([1,2,3])
np.save("My array.npy", arr)

In [48]:
loaded_arr = np.load('My array.npy')
print(loaded_arr)

[1 2 3]

In [ ]:
import numpy as np
vector = np.array((10:49))
print(vector)

[10 49]

In [5]:
np.sqrt(np.sum(a**2))

np.float64(217.66028576660466)

In [4]:
a = np.array([
    10, 12, 15, 18, 20, 22, 25, 30, 28, 26, 24, 30, 35, 40, 38, 36, 34, 32, 30, 25,
    20, 15, 12, 10, 15, 20, 25, 30, 35, 40, 45, 50, 48, 46, 44, 42, 40, 38, 36, 35,
    33, 32, 31, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10])
((a- a.mean()) **2).mean()

np.float64(113.93689986282581)

In [8]:
np.std(a)**2

np.float64(113.93689986282583)

In [12]:
from PIL import Image
with Image.open('') as img:
    print(img)
    print(img.mode)

FileNotFoundError: [Errno 2] No such file or directory: 'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAJQAnQMBIgACEQEDEQH/xAAbAAACAgMBAAAAAAAAAAAAAAAEBQMGAAEHAv/EADwQAAIBAwIEBQIEBAUCBwAAAAECAwAEEQUhBhIxQRMiUWFxgZEUIzKhFVKxwQczQtHwJPEmQ1NicoLh/8QAGwEAAwEBAQEBAAAAAAAAAAAAAwQFAgYBAAf/xAArEQACAgIBBAICAgEFAQAAAAABAgADBBEhBRIxQRMiFFEyoTMVI0JhgQb/2gAMAwEAAhEDEQA/AKVHRMYoWKjYRXPPJZhEK0ZElQQrR0K+1J2GYJkiLU6R1uKP2ouKL2pR3gy0hSOp1jqdYsdqndLa3jD3knLkcyxqNyP7VmtHtOlE88wVUomG3klOI43b4Umpra60qVDguGRSxPWk+pcSXAfw4HEUY7KQKfq6Y5P3OpX6Z0e3O2d6AjttPnROd4XC+uKj8PFLNK4lnjbd+dc7ht81Zx4OpWf4u1UKy7Mord2D8Y7lO4bqPQbcRe8HYikptUUi7UW4xkVBIKVEgxbcL1pVcLTm4WldyvWmUhFia4FAyimc4oGVaaQRhYDIKhNEyLioGG9MgwoMniU5o6GoIlo6CPJFKWAxZjCrcUfCOlDwRGmEEPSp9m4Fmk0K0ZEu1btrdnICj/8AKOEFvD/nXMQP8qNzH9q+p6dk5P8AjXcA1gHmerOxmuiPCjJUHzHYAfekevaJrK3jyRW9vfcxyVSXt6AZB7Y2p+0tpyFVuCFYbjNDxadpM8BC3t00mDlTM/n+RVnD6XlY2+5OJTwPxbAe5vtAtHvNHuLe7gTQpbO8QAXKvzM659AxBxkft0oO4g8NA2m6Zpt5AVOFmSTxiR1/Vuf/AKk0XYWE9jfrM0sjKyFGMz5CrnIAXHb570wmj0y4j5J4nlTmLeGCVXJ74zQLMg1X6YbWULOp4uIhraztP/Upt4JP4WslxpcNpqBkXw0t25cR4OeZcnrtjNOOCdaId4Zwyo22SuAD71Le8N2EkTPYXF0hVdrfPMO/1/rUtna6UmnRWlrLLJqM7hC+/wCW3pj0p1XquBKjQlvCzse7FK9/eD/UaTg85I6E9R0NDSKatdhaWthAsSoJWH6nfck/2ovktrhSkkSb+1cs+bQLCFPE563ph7iUPE57ONqWXC9at3EOj/g/zoSTC3b0qrXC9dqo1MJNZGrbtaJ5k3oKVetM5xQEwpxCJsGL5VoVhvRktDMN6LDCGwrmmdqnSl9v2ppajcV86xRzGNvGNqYwRZIpez6oVH8PvoYcD9EttGyn64z/AFqOfXtUtLZ11jQ4Z4iOUz2T8p+wwf3FeJi1vr76mFp+ThW5hOoXsq5iTKop6fzH1pRLdyLnzEZpNNxBf2kJS1itbi0UtyhlbxIwTnBz1x07/JqO24sufGKz6Lb85BKr519+nfau5xM3FopFaL4gP9MvVyzaMdLfN3ati8a4ljiR2Du4CsM5BJ67VPw9xXa6vOtpJpsLqVJl5YPCMeMbg5OR84NGaZPwx/FlF1bXxn8YeBGCDGd/Lkg5++1MN1BDQ1nYdD/2aXEPyis8Gb1HVfBxbrKzLEgXmZsk++fWh7XVol/zG838vpTK80zTJ9QnmCRTSblLW4doYx84BB+pFKRNqUN+kFpw/p1nE+8s7AOpB3yHOQV67j4zX53+OuUzFeYW7oXaD8h8xva6pEXQq+DnbPevejWMV1xJ+PXVraNo3Jms2JLY5TysPfOPt61VdVubttWuH06OMRPKWWFWH5YP++59s7ZqXTYzFrCm6ChpxggDqfc1g1HHVtex4hukVNiZPxK31M6Hear+Dic3r/hYsgJI6Mecn2A27VDacTWD3f4SK+SW45S5HKVCgLzHJJ22Fe7bTAsLNDcMqSpytGWyqn15TkEexFasNAlsZmmit7PxWHIzIG8o67Ak7bdM1LqXprVt8nBnT3fKGHZ4j+WaPUdEkPMGVo+ZT6jrmue3G+/rV10uztdLnm2nYzAs3lZkQd8dcVXOINONjdnkU+A/mjbHb0+lL1ns+q/x9GSuo18hgJXJ1pfMvWmky0FKlPVuZOUxXKlCupzTKZKFdN6cSyGBksHamlscYpTD2ppbHpTbRZ46telNbZFkkiD/AKeYZHXNJ7Vtqc2FpJdq/h7ci5yeme1T8hwikk6g8dC166/cW8UcJW+p20k1mix3YBKsh5eb2Nc20zXr3RZmt5okn8NypSccxXqCF9K6+b5rfMb9Rsa57xNw9f6xxA02nWW0oHM/RSfU0XovUHrJS1uPRM67MwvkXxIBxDZSIY7aGO1D/rCLgn5xQV1q8NldQT28iyTRSBxyNmrJpf8AhdPI6nUr4KndLcf3P+1eOM+GrLQEtzp9qOQ7MxPM5PuTXV4nXqMu0YKa+36kdunCkfL+o70fiLTL/wAOcShZv5c4ZTjpTD/wxextmEOzM3MY1YOrZOTke9c84ds7a8u2uZoz+T5Qucb+9XGPVI7SPwbeNE+BUTN6NViZBrrsOpfxcS/Mxw4HmR3jafYIFsYXch8BQu5zt1PfpUupaNGkkLx3JE4XmnhLZK9wQf2qWHUxLmOeNXjJ3pXeo8d8qLM0odQUkc5IUds+1DNSIv15M5/q/R7sEfMgjWx4pg02NYtQiDxtlRIepOfSl19x9I1x/wBEgij7KSTmq1r94J5kgtlZ1jz+gdT07UhtLa9v7xbextpribskSljj39B81qjpWN/ksWFw77viHeeZ1LTONJ55FSQoqyDlk5M+YfXO9W64vdP1LT3WT8xVdVB3ypx19Qf+dK5JHomq2GmTahdfh4Vt+UzW8kv5qgkAEr26jbORmnFjrwLQYlTlKgskpPI3wwBxt1yCK+y+mU2qCn/GG7u7YaM9WszZ3TQ8wdcBlYf6lO4NKpFzT3X7hbm6UoI8LGFzG4ZW9DkbHrSdhUAbU6MkWAK5AgEqUI6b0ykWhnTemEaegxdCaaWx6UA1rNbTNDcRtHIhwyMMEUVBkd6fe3XEGwjm2bGKuWjcsWmhhgs5JNUaB8Y3qz6FMTasCeh2HtUjqYLVcR3pQX8kbnq7tBLdqT0zTGBFTlCjpQ07gMG7g0RDJsD61HYkqJ2J5EaQ4AFIeOdL/iOnLJC4SaHLeYbMO4O3sPtTSOepfHV0IIByO9a6flW4WUmQnlTJ+RT8ilTOJ2OoG3u7iHlBYIWbBzuNj/aoJb5nLcpPLnPv7VZeJNAitOIIryygIimcRTQoM5D+XIH17V7uf8PpbC6tvxN3Eyt5p1LhCBnoDufsDX6FmZ9OU35A42IXp+WcekUt6g/DcM+oB2NykEEXlMrDYt15R6mgtSmmuolldGURc2Yy2GA9cjoe/pTzU7R7ee1mku4ykSsLW3VGjhh264OOfH32qu6hLHDbGCOQnn6sT1rGHScmxVQ+f6jVuYbaLHyB9PAH7jLgLXbC3uJYINIhe5AwLt5D4nKc7Y3C49qtsdvJJBPb2drPZK48Qm0lRfFPoRyb/BYVyPTJLnS9R/E24ViBlk6hh/auucM8UJdxL4Lxq2wKt1Wmsvpz02eeP6nMrchXtAiC94W1Szimt7LRdQmlun8RpZSG58bgE5IXc9z9qiXS4dE0y5j1e3ZNRuYyIvKAsW/Udya61Z6iJApllHTotVT/ABMSXVbS2h0vkM0TluUjB6dm7GtFwo20yq+hKNo1wfzLRmyY9xnr75/amDDFetE4W1PTNMuNT1J4Ykl5QsRwZCckbnsO+x3rT1z3UKla0snuT8le2yQuM1CU3qdiK81N5EEDOma9o9lxGi86eHOo8k2Nx8+ornuq6Fe6RNyXUZ5CfJKo8rfWrppesCRQJvOG6MNjTwSW95AYLlRJFjBSQZzXTZGKt3I4MqXYwfxOSxDHWm+kSlLhQWwpFNtZ4TeNvF03Lod/Bzuo9j3qvKGiflIIdTuDsRUTJx2VSriT178ewMfUsFy/lqK3uWOQT02qATCaPOcEdRUUbBJGz3qGK9DRnY03rYodY3iuM1PDLkEMfilCy8pz2qbxu9DNc03M96pAZ4sAnI3DDqD7GqBqOg63BdST6fPcEuct+YzEn5NdEhmD7GmNqsTDzAH6UzRnWYo1rYgSujsThuofxSKQyajBcmUDHizKW2+elRwz4HXIP1Fd7u9Ltry3MbqAD0I7VzviTgC4y01hgtvsFCA/Y9a6/of/ANLi1nVi6Mn5tdtw7d8fqU/T5Y452Rx+r9LbDHt2oueyMjeJbmUON/IcsB/8Www+maW3un6lpchN1byKEORzDbPzRdtcRPGp3i+ACoPwdgfop9K6xs2jJXa+5Hah0O4RHrut2h8GLUA5I2jl8j/QMP70TYcWXlrdKbxZfGZhnxNub47H6GoX55IiJ4UuoQPNy+fb3Rtx85PsKW/hLaVG/AyssRHmiLZT55Tuv9T2AqNkJWToiNVd3mdFu+I11q3hjhaRIkQMY3XB5+/zS93AquaNcXGnhPGBeAEjzKTj2z6088e3vomlsX3X/Mib9SfT0pHKwVsBtxhwPI9iT8lXR9v4Mjkk81aE3vQ0r1AZDnrUNqtmZAm9I12W3YBmPKDtV40HiUXHlbxEA2LEbCuaSQh91PK3r61Jaajc2hMbu3LnbfarNeQGlenJWzj3O6Q3sCIGSUs3WvF5a2GrLm9jMb9EdBhvvXPdF15niBLAHoDVwtL+U2uXOx6HrtTDdtg0YV6gw0YLc8MXUEniWEy3S4/SNn+3Q0ruYnjIEsbRtjPKwwaZXGoPbHmim5cDZWOMmgdS4hza894qEJ05iN/SpeR0pLOauDM45/G3rxBOc17SQ53ql2nFTu0xnTYOeUgYAHam1nrcNyDh8EEZHz0qRdgW1nREo13hhuWiKYA9aOgucEbiqst8mccw+9em1eKLq4+9JNis3GoQuDL1BerjDH96naZHXIJI+lc5biq2jiducEp13xitLxcwXyKzYP6hvivl6RcxBA1BNYn7jziyzjngPNHakdMyg5B+lcpn/wChuPLJlRtlCQV9txuPYjFW+74umngkhMB52HlYLt9c1V5IJbsl7jLFj+rHQ+5/7V1PTa7qF7SYvZVte8jiZDcAqJV5xyjPPCN19ynUfKnGamSYNNHcMsUjdFlj3D+oyOv7N81Ha6VOR4kWTg9V7f7V6ntLi3PigAE/rAXYj/3L3+RuKda9XYrvmL9oUb9S0aPew26BkQPbSDzx5zj4oXXNLFrcx3unTFFc5jlXt7GlWm3GeZemfNjOcfXv8/ejvxUiDlVzy/y9qVS98a3YMSZ+0lH5Bka3RuH8KePwrvuvQP7ioy2/pU8t1BPEI54ASpyrocFfihriZGkyuTt1PU17lvVd91Gj7i5rUfxPEH5qzCuCrDaoS1bVt6S1BKNciT2Ra2uFZWzGex7VdJbzkt43glHT3wT6VScFkYDGSNs1uXWXt4YoleOSLGTyb8p79d6eoYleZVxbSy/b1LDdas2685YD+tI9auzc20jM24B5QNtyKXtetc7DLMx6AV5e3ufCYNBIMbg8lGSztbzC2lSNSWC3hFqo5dyMnJ6mtiBUJ8J+U4qMSPGqiaFlGO4xWJMnVWrBIPmEUj1JJGuyoAf2znFRGzuZzlpG+S3SiYpVJGSCDtiivHR5FhGBGnmkz3A6L9Tt8ZrVNKFhPrHKrsSM6Q1xAIYgyIOpI3O23+/1Aqx6TwjposliuXuJJhu0njBFXbfGOwyBnufYVPpDW8SrzMqyA5K+/fHtTEmMx+G2OR8cwHTavsoGw/Q6ntCqi/b3K5JwfqcV6sNjeGWArs8ts2/1p3BwFezhReX4QekUWNvTfNOLCU2XhxWglZimS7uWWIHsqk9fc9KaSSFoN7iZi58u+4PtSNtWS6/7bajCv2HiL4eH9P0bTniWYNJ+ohnHOx+KoGoTCS5kKryjOMVa+KNHvr2ZriJ4pkKriNnAYEDGd9jnrVMuIpYX8OeN43/ldcGlExrKj3WHZMk5lju3I4ghgRJvFj8pPVR0Pv8ANSO9abNRMTRy5bzEySfMx3PrUJfescmoGzmtAT0CSk1inJrya2grQXcwBCUO2K0LC3c/pIz6VpDU6NRApUT0Fl8Qmzghtx+UgX37mmERBGDjBpaj0VDINqA/7g32TsxtAqkcpA5fQ9KlbRtOut5bWPmP+pRyn9qHtpB600t3HrWUfR8wXeyngxbJwTay+a2upYj6OA4/saW3vCeq25eO1jW6xyu3hNy7b42PuD+1Xm2k6UfCwyCR0p6ptxhMuweTOSym8spFW6jmt26YkUjPwTR0ersyopOW9z2rqrCOeIpMiyIequoIP0NVTXeDbWYNcaRi3n6+Fzflsfb+X+n9aL2nzHa85Twwi6x1BuRW/SMYHKaa2WsNGefPNk43OAKpFvHcfjPAZHWZX5Gjxnf/AJ3rb3/gysknlZTjy74P3r3uMdDzojX9vcKJUbEhPmRiTmjbU2erI0V5Dbywn/RJuwPtXNbfVAkqvz57YXarFp2vRI5yIwezcu9b2reZrQYaMYarwPp9xKw0i9MMv/oS+Zc+x6j96qGr8PalpJY3to6xj/zU8yfcdPrirta63E0pyd8/q+adW+qlWCnBiPcd6E+KjeIu+Ip/jOLMmRkVC0e/Suyapw1oWsL4htzbTHGZbXy5PuOh+1Vm4/w21MyE6dc2tzAehkYxsvsRgj6g0s2NYvjmJtQ6+pz8b16FZWV4kCJIpr2pNZWVs+J9PYYip4mORW6ylbfEy0Z2pO1NYGIxWVlT9/aLN5ja0J2pnEaysqxjfxmIQGOK8O5FbrKc9TfqVvXdLhvHDNJNH4h5nEbY5iNs9PTA+lV694bsIl8pm2z1esrKGx4jSWOBwZVbtPw1wEjdiB6mprO6myfNW6yvEMq0EleY2triTnAz1FWWxnlCHMjEEdGYkD4z0rKyjiHhUF9PNKyu2ynIxtinNncT8rHxnyT61lZRRPZ//9k='

### vectorize

In [13]:
def add(x1, x2):
    return x1 + x2

add(2,3)

5

In [14]:
def categorize(x):
    if x < 0:
        return 'negative'
    elif x == 0:
        return 'zero'
    else:
        return 'positive'
    
categorize(-5)

'negative'

In [17]:
c = np.array([-1, -2, 0, 5, -3, 4, 6])

[categorize(i) for i in c]

['negative',
 'negative',
 'zero',
 'positive',
 'negative',
 'positive',
 'positive']

In [19]:
b=(1,2,3,4,5,6,7)

In [21]:
@np.vectorize
def compute_metrics(x, y):
    sum_xy = x + y
    diff_xy = x - y
    return sum_xy, diff_xy

compute_metrics(5, 7)

(array(12), array(-2))

In [23]:
np.random.uniform(low=3, high=10, size=(10,)).astype(int)

array([7, 6, 5, 4, 7, 5, 9, 7, 3, 8])

In [25]:
np.random.randint(low=1, high=100, size=(1,2, 3))

array([[[13, 90, 12],
        [74, 47, 40]]], dtype=int32)

In [26]:
t = np.random.randn(10000)
plt.hist(t);

NameError: name 'plt' is not defined

In [27]:
# choice
values = np.array([10, 20, 30, 40, 50])
probabilities = np.array([0.5, 0.1, 0.1, 0.2, 0.1])

vals = np.random.choice(values, size=100, p=probabilities)

In [38]:
# choice
values = np.array([10, 20, 30, 40])
print(values)
probabilities = np.array([0.7, 0.1, 0.1, 0.1])

vals = np.random.choice(values, size=100, p=probabilities)

[10 20 30 40]

In [41]:
from collections import Counter
Counter(vals.tolist())

Counter({10: 66, 40: 19, 20: 10, 30: 5})

In [48]:
# shuffle
arr = np.array([1, 2, 3, 4, 5])
np.random.shuffle(arr)

In [46]:
arr

array([5, 3, 1, 4, 2])

In [58]:
arr

array([1, 3, 4, 2, 5])

In [59]:
# permutations
arr = np.array([1, 2, 3, 4, 5])
permuted = np.random.permutation(arr)

In [62]:
arr

array([1, 2, 3, 4, 5])

In [63]:
permuted

array([5, 2, 4, 3, 1])

In [ ]:
a= np.array([10, 12, 15, 18, 20, 22, 25, 30, 28, 26, 24, 30, 35, 40, 38, 36, 34,
       32, 30, 25, 20, 15, 12, 10, 15, 20, 25, 30, 35, 40, 45, 50, 48, 46,
       44, 42, 40, 38, 36, 35, 33, 32, 31, 30, 28, 26, 24, 22, 20, 18, 16,
       14, 12, 10])

In [64]:
a

array([10, 12, 15, 18, 20, 22, 25, 30, 28, 26, 24, 30, 35, 40, 38, 36, 34,
       32, 30, 25, 20, 15, 12, 10, 15, 20, 25, 30, 35, 40, 45, 50, 48, 46,
       44, 42, 40, 38, 36, 35, 33, 32, 31, 30, 28, 26, 24, 22, 20, 18, 16,
       14, 12, 10])

In [66]:
b= np.array([ 5, 10,  5, 10,  6, 11,  6, 11,  7, 12,  7, 12,  8, 13,  8, 13,  9,
       14,  9, 14, 10, 15, 10, 15, 11, 16, 11, 16, 12, 17, 12, 17, 13, 18,
       13, 18, 14, 19, 14, 19, 15, 20, 15, 20, 16, 21, 16, 21, 17, 22, 17,
       22, 18, 23])

In [67]:
b

array([ 5, 10,  5, 10,  6, 11,  6, 11,  7, 12,  7, 12,  8, 13,  8, 13,  9,
       14,  9, 14, 10, 15, 10, 15, 11, 16, 11, 16, 12, 17, 12, 17, 13, 18,
       13, 18, 14, 19, 14, 19, 15, 20, 15, 20, 16, 21, 16, 21, 17, 22, 17,
       22, 18, 23])

In [69]:
len(a)

54

In [71]:
ix = np.random.permutation(range(len(a)))[:1]
ix

array([41])

In [72]:
A = np.array([
    [1, 2],
    [3, 4]
])

B = np.array([
    [5, 6],
    [7, 8]
])

In [75]:
A*B

array([[ 5, 12],
       [21, 32]])

In [74]:
np.dot(A,B)

array([[19, 22],
       [43, 50]])

In [76]:
A @ B

array([[19, 22],
       [43, 50]])

In [78]:
a= np.linalg.inv(A)
a

array([[-2. ,  1. ],
       [ 1.5, -0.5]])

In [82]:
A.transpose()

array([[1, 3],
       [2, 4]])

In [90]:
A = ([[1,2,9],
      [4,5,6],
      [14,8,9]])

In [91]:
np.linalg.det(A)

np.float64(-248.99999999999994)

In [92]:
W = np.array([
    [2, 1],
    [1, 3]
])

Y = np.array([8, 13])
np.linalg.solve(W, Y)

array([2.2, 3.6])

In [93]:
import numpy as np

# Create two arrays
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

# Element-wise addition
result = a + b
print("Addition:", result)

# Element-wise multiplication
result = a * b
print("Multiplication:", result)

Addition: [5 7 9]
Multiplication: [ 4 10 18]

In [94]:
# Define a Python function
def my_function(x):
    return x ** 2 + 2 * x + 1

# Vectorize the function
vectorized_function = np.vectorize(my_function)

# Apply to an array
a = np.array([1, 2, 3])
result = vectorized_function(a)
print("Vectorized function result:", result)

Vectorized function result: [ 4  9 16]

## Task 1. Write a Python function that converts a temperature from Fahrenheit to Celsius. Use numpy.vectorize to apply this function to an array of temperatures: [32, 68, 100, 212, 77].

Formula: 
C
=
(
F

32
)

5
9

In [98]:
def fahr_to_temp(f):
    return (np.array(f)-32)*5/9
f=[32, 68, 100, 212, 77]
result = fahr_to_temp(f)
print("Temperature in Celcious:", result)

Temperature in Celcious: [  0.          20.          37.77777778 100.          25.        ]

In [99]:
x = np.array([2,3,4,5])
p = np.array([1,2,3,4])
np.power(x,p)

array([  2,   9,  64, 625])

In [108]:
x= np.array([
[4,5,6],
[3,-1,1],
[2,1,-2]
])

y = np.array([7,4,5])
d=np.linalg.solve(x,y)
print(d)

[ 1.7027027   0.62162162 -0.48648649]